.container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.103);
  background-color: white;
}

.productImage {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  flex-grow: 0.9;
}

.productDescription {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.5rem;
  gap: 1rem;
  flex-grow: 0.1;
}

.productName {
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 1rem;
}

.subItemsContainer {
  display: flex;
}

.priceContainer {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
  align-items: center;
}

.priceContainer * {
  font-size: 0.8rem;
  font-weight: 600;
}

.priceContainer :nth-child(2) {
  color: red;
}
