.container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  gap: 1rem;
}

.searchInput {
  width: 100%;
  border: none;
  border-radius: 2rem;
  background-color: rgba(128, 128, 128, 0.116);
  padding: 0 1rem;
  font-size: 0.7rem;
  background-color: white;
}
